<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');

  $(document).ready(function(){
      $(".menuCategories>.categorie-title").click(function(){
          var submenu = $(this).next("ul");
          if(submenu.is(":visible")){
              submenu.slideUp();
          }else{
              $(".menuCategories.menuCategories-sidebar").slideUp();
              submenu.slideDown();
          }
      });
  });
</script>
