---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  {% include categories.html %}
  <div class="container">

    <div class="row">
      <!--      <div class="col-lg-8 col-md-10 mx-auto">-->
      <div class="ksc-custom-content mobile-view">

        {{ content }}

        <!-- Home Post List -->
        <!--오름차순 정렬-->
        {% assign sorted_posts = site.posts | sort %}
        {% for post in sorted_posts limit : 10 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            <!--서브타이틀 및 내용 미리보기 표시하지않음-->
            <!--            {% if post.subtitle %}-->
<!--            <h3 class="post-subtitle">{{ post.subtitle }}</h3>-->
<!--            {% else %}-->
<!--            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>-->
<!--            {% endif %}-->
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
<!--            작성일자 미표시-->
<!--            on-->
<!--            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            -->
          </p>
        </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
