---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
            {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--include categories.html 를 여기다 넣으면 되긴하는데 이거넣으면 About 페이지에서도 보임..-->

  <div class="container">
    <div class="row">
      <!--      <div class="col-lg-8 col-md-10 mx-auto">-->
      <div class="ksc-custom-content mobile-view">
      <!--여기서 posts 페이지를 호출함-->
        {{ content }}

      </div>
    </div>
  </div>
